@charset "UTF-8";
@import 'media';
@import (less) '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@color-text: #c00;
@color-text-list: black;
@color-background: #f2f2ed;
@color-border: rgb(217, 217, 212);
@text-font-Roboto: 'Roboto', sans-serif;
@color-tshirt-white: #fff;
@color-tshirt-yellow: #e3d95e;
@color-tshirt-green: #a5af96;
@color-button-text: #fff;
@color-button-like-text: #999;

/*

// Код для примера

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background: red; // red on small devices

    @media @tablet {
        background: green; // green on medium devices
    }

    @media @desktop {
        background: blue; // blue on large devices
    }
}
*/


html {
    font-size: 100%
}

body {
    margin: 0;
    font-family: @text-font-Roboto;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: black;
    opacity: .4;
    z-index: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 16px;

    @media @phone-strict {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 15px 0 10px;
    }
}

.shop-logo {
    padding-left: 1.6%;

    ::selection {
        background: transparent;
    }

    @media @phone-strict {
        padding-bottom: 10px;
        padding-left: 0;
    }

    &__text {
        font-weight: bold;
        font-size: 1.4em;
        color: @color-text;
        letter-spacing: 1px;
        word-spacing: 5px;
        white-space: nowrap;

        @media @phone-strict {
            font-size: 1.2em;
        }
    }
}

.oggetto-logo {
    padding-left: 7.4%;
    color: #a20a0b;

    @media @phone-strict {
        padding-bottom: 10px;
        padding-left: 0;
    }

    &__pic {
        width: 49px;
        fill: @color-text;

        &:hover {
            /*shadow: 3px 2px hsla(355, 100%, 30%, .2);*/
            fill: #a20a0b !important;
            width: 50px;
        }

        @media @phone-strict {
            width: 40px;
        }
    }
}

.phone {
    text-decoration: none;
    margin-right: 2px;

    &:hover {
        text-shadow: 3px 2px hsla(355, 100%, 30%, 0.2);
        font-size: 1.45em;
    }

    @media @phone-strict {
        padding-bottom: 10px;
        padding-left: 0;
    }

    &__text {
        font-weight: bold;
        font-size: 1.4em;
        color: @color-text;
        letter-spacing: .8px;

        @media @phone-strict {
            font-size: 1em;
            white-space: nowrap;
        }
    }
}

.navigation {
    width: 100%;
    background-color: @color-background;
    border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
    z-index: 1;

    &__content {
        height: 49px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        padding: 5px 0 0 24px;

        @media @phone-strict, @tablet-strict {
            display: flex;
            flex-direction: column;
        }

        @media @phone-strict {
            padding: 1px 0 0 15px;
        }

        @media @tablet-strict {
            padding: 3px 0 0 19px;
        }

        &_show {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        list-style-type: none;
        padding-right: 20px;

        @media @phone-strict {
            margin-bottom: 7px;
        }

        @media @tablet-strict {
            margin-bottom: 9px;
        }
    }

    &__links {
        font-size: 1em;
        color: @color-text;

        @media @phone-strict {
            display: none;
        }

        @media @tablet-strict {
            display: none;
        }

        &_active {
            color: @color-text-list;
            font-weight: bold;
            text-decoration: none;
        }

        &_show {
            @media @phone-strict {
                display: block;
            }

            @media @tablet-strict {
                display: block;
            }
        }
    }

    &__link {
        font-size: 1em;
        color: @color-text;

        @media @phone-strict {
            font-size: .8em;
        }

        @media @tablet-strict {
            font-size: .9em;
        }

        &_active {
            color: @color-text-list;
            font-weight: bold;
            text-decoration: none;
        }
    }

    &__search {
        height: 34px;
        width: 276px;
        margin-right: 3px;
        padding-left: 5px;
        background: white url(../img/search.png) no-repeat 97%;
        border: 1px solid @color-border;

        @media @phone-strict {
            height: 25px;
            width: 180px;
        }

        @media @tablet-strict {
            height: 28px;
            width: 200px;
        }

        @media @large {
            width: 241px;
            padding-right: 30px;
        }
    }
}

.navigation__search:focus {
    outline: 2px solid @color-text; /* Рамка при получении фокуса */
}

.hamburger {
    &__icon-bars {
        color: @color-text;
        font-size: 1.4em;
        padding-left: 24px;

        @media @phone-strict {
            font-size: 1.2em;
        }

        @media @tablet-strict {
            font-size: 1.3em;
        }

        @media @desktop {
            display: none;
        }
    }

    &__icon-times {
        display: none;
        color: @color-text;
        font-size: 1.4em;
        padding-left: 24px;

        @media @phone-strict {
            font-size: 1.2em;
        }

        @media @tablet-strict {
            font-size: 1.3em;
        }

        @media @desktop {
            display: none;
        }
    }
}

.navigation.navigation__active .navigation__content {
    height: 170px;

    @media @phone-strict {
        height: 150px;
        padding-top: 9px;
    }

    @media @tablet-strict {
        height: 160px;
        padding-top: 12px;
    }

    @media @phone-strict, @tablet-strict {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
}

.navigation.navigation__active .hamburger {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation.navigation__active .hamburger__icon-bars {
    display: none;
}

.navigation.navigation__active .hamburger__icon-times {
    display: block;
}

.navigation.navigation__active .navigation__links {
    @media @phone-strict {
        display: block;
    }

    @media @tablet-strict {
        display: block;
    }
}

.navigation.navigation__active .search {
    display: none;
}

.content {
    width: 90%;
    background-color: white !important;
}

.breadcrumbs {
    display: flex;

    &__list {
        display: flex;
        padding: 33px 0 0 21px;
    }

    &__item {
        list-style-type: none;
        padding-right: 4px;
    }

    &__link {
        font-size: 1em;
        color: @color-text;

        &_active {
            color: @color-text-list;
            text-decoration: none;
        }
    }
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;

    &__content {
        display: flex;

        @media @phone-strict, @tablet-strict {
            flex-direction: column;
            align-items: center;
        }
    }

    @media @phone-strict {
        flex-direction: column;
    }

    @media @tablet-strict {
        flex-direction: column;
    }

    &__pic {
        width: 49%;
        height: 100%;
        padding: 2px 0 0 22px;

        @media @phone-strict {
            width: 60%;
            margin-bottom: 20px;
            padding: 0;
        }

        @media @tablet-strict {
            width: 70%;
            margin-bottom: 25px;
            padding: 0;
        }
    }
}

.product-info {
    padding-left: 64px;

    @media @phone-strict, @tablet-strict {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    &__content {
        @media @phone-strict, @tablet-strict {
            width: 70%;
        }
    }

    &__text {
        @media @phone-strict, @tablet-strict {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        margin: 0;
        font-size: 2.2em;
        font-weight: bold;
        letter-spacing: .4px;
        line-height: 36px;

        @media @phone-strict, @tablet-strict {
            text-align: center;
        }
    }

    &__description {
        margin: 14px 0 0 2px;
        word-spacing: 1px;

        @media @phone-strict, @tablet-strict {
            text-align: center;
        }
    }

    &__price {
        margin: 23px 0 0 -4px;
        color: @color-text;
        font-size: 2.4em;
        font-weight: bold;
        letter-spacing: -1px;
    }

    &__size {
        margin-top: 25px;
    }
}

.size {
    &__icon {
        display: flex;
        margin: 13px 0 0 2px;
    }

    &__item {
        font-size: 2.35em;
        color: @color-text-list;
        border: 1px solid black;
        width: 63px;
        line-height: 59px;
        text-align: center;
        margin: 0 10px 0 0;

        &_active {
            border: 3px solid @color-text !important;
            width: 59px;
        }
    }

    &__radio {
        display: none;
    }
}

.color {

    @media @phone-strict, @tablet-strict {
        display: none;
    }

    &__icon_show {
        flex-direction: column;
    }

    &_show {
        display: none;

        @media @phone-strict, @tablet-strict {
            display: block;
            width: 20%;
        }
    }

    &__text {
        margin-top: 36px;
    }

    &__icon {
        margin: 13px 0 0 2px;
        display: flex;
    }

    &__item {
        list-style-type: none;
        text-decoration: none;
        border: 1px solid black;
        width: 63px;
        height: 63px;
        margin: 0 10px 0 0;

        &_white {
            background-color: @color-tshirt-white;
        }

        &_yellow {
            background-color: @color-tshirt-yellow;
        }

        &_green {
            background-color: @color-tshirt-green;
        }

        &_active {
            border: 3px solid @color-text !important;
            width: 59px;
            height: 59px !important;
        }
    }

    &__radio {
        display: none;
    }
}

.button__buy {
    margin: 43px 0 0;
    padding: 23px 54px;
    background-color: @color-text;
    font-size: 1.89em;
    color: @color-button-text;
    border: none;
    outline: none; /* убирать контур в Mozilla */
}


.wish-list {
    display: flex;
    margin: 40px 0 0 3px;

    &__heart {
        width: 26px;
    }

    &__item {
        padding: 2px 0 0 7px;
    }

    &__link {
        color: @color-button-like-text;
    }
}

.footer {
    width: 100%;
    background-color: @color-background;
    border-top: 1px solid @color-border;

    &__service {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 42px;

        @media @phone-strict, @tablet-strict {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-bottom: 15px;
        }
    }
}

.service {
    display: flex;

    @media @phone-strict {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    &:first-of-type {
        width: 54%;
        padding-top: 58px;

        @media @phone-strict {
            width: 90%;
        }

        @media @tablet-strict {
            width: 90%;
        }
    }

    &:last-of-type {
        width: 38%;
        margin-top: 7px;

        @media @phone-strict {
            width: 90%;
        }

        @media @tablet-strict {
            width: 90%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        &:first-of-type {
            margin-left: 21px;
        }

        &:last-of-type {
            margin-left: 74px;

            @media @phone-strict {
                margin-left: -65px;
                padding-top: 15px;
            }
        }
    }

    &__list {
        padding: 0;
        margin-top: 15px;

        &:last-child {
            padding-left: 52px;
            padding-top: 1px;
        }

        &_last-col {
            padding-left: 101px !important;
        }
    }

    &__item {
        list-style-type: none;
        margin-top: 6px;
    }

    &__links {
        display: flex;
    }

    &__link {
        color: @color-text-list;
        text-decoration: none;
        font-size: .95em;
        letter-spacing: -.6px;
    }

    &__title {
        margin: 0;
    }
}

.bonus {
    font-size: .95em;
    margin-left: 17px;
    padding-top: 60px;

    @media @phone-strict {
        margin-left: -13px;
        padding-top: 15px;
    }

    @media @tablet-strict {
        padding-top: 20px;
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        letter-spacing: -.6px;
    }

    &__delivery {
        width: 45px;
        margin: -3px 14px 27px 0;
    }

    &__heart {
        width: 26px;
        margin: -2px 12px 26px 19px;
    }

    &__cup {
        width: 21px;
        margin: 0 13px 26px 25px;
    }
}

.social-links {
    margin-left: 29%;
    margin-top: 56px;

    @media @phone-strict {
        margin: 0;
        padding: 0;
        display: flex;
        width: 80%;
    }

    @media @tablet-strict {
        width: 40%;
        margin: 0;
        padding: 45px 0 0 70px;
    }

    &__list {
        padding: 0;
        margin: 0;

        @media @phone-strict {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-top: 15px;
        }

        @media @tablet-strict {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-top: 15px;
        }
    }

    &__item {
        list-style-type: none;
        text-decoration: none;
    }


    &__facebook {
        width: 15px;
        margin: 0 0 19px 11px;
    }

    &__twitter {
        width: 33px;
        margin-left: 1px;
        margin-bottom: 19px;
    }

    &__instagram {
        width: 31px;
        margin-left: 3px;
    }
}


.line {
    border: 0;
    border-top: 1px solid @color-border;
    transform: rotate(90);
    width: 1400px;
    margin: 0 0 0 101px;

    @media @phone-strict, @tablet-strict {
        /*display: none;*/
        width: 90%;
        margin: 0;
    }
}

.copyright {
    width: 90%;
    margin: 31px auto 110px;

    &__text {
        margin: 0;
        font-size: .9em;
        margin-left: 21px;
        letter-spacing: -.2px;
    }

    :first-child {
        margin-bottom: 8px;
    }
}

